parameters:
    paths:
        - src
    level: max
includes:
    - vendor-bin/dev/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/dev/vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor-bin/dev/vendor/ekino/phpstan-banned-code/extension.neon
    - vendor-bin/dev/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/dev/vendor/phpstan/phpstan-symfony/rules.neon